.sectionThree_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.cabin {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  letter-spacing: -0.01em;

  color: #192252;
}
.dontWorry {
  margin-top: 24px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #848fac;
}

.top_content,
.botom_content {
  display: flex;
  align-items: center;
  gap: 126px;
}
.harurTokos {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  letter-spacing: -0.01em;

  color: #192252;
}
.weServed {
  margin-top: 24px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #848fac;
}
