.cootels{
    text-decoration: none;
    color: #192252;
    font-family: 'Montserrat-Bold';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.header_content{
    padding: 37px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu{
    display: flex;
    align-items: center;
    gap:32px;
    font-size: 16px;
    color: #192252;
    
}
