

.container{
  width:83%;
  margin: 0 auto;
}

.btn{
  font-family: "Montserrat-Regular";
  padding: 16px 32px;
  background-color: #0e1734;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
