

.container{
  width:83%;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
.slick-slider{
  width: 100%;
  overflow: hidden;
}
.slick-track{
  display: flex;
  gap: 50px;
}
.slick-dots li{
  cursor: pointer;
font-size: 20px;
 color: rgba(250, 176, 71, 0.35);
}
.slick-active svg{
  font-size: 23px;
  color: #FAB047;

}
.slick-dots{
  margin-top: 24px;
  list-style-type: none;
  display: flex !important; 
  justify-content: center;
  align-items: center;

}

footer{
  background-color: #0B265A;
}