


@font-face {
  font-family: 'Montserrat-Bold';
  src:local('Montserrat'), url(../public/fonts/MontserratAlternates-Bold.ttf) format("truetype") ;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src:local('Montserrat'), url(../public/fonts/MontserratAlternates-SemiBold.ttf) format("truetype") ;
}

